There are many valid questions as to why somebody would join our platform. Those are addressed in the documents below

[[Why Would You Give Us Your Data?]]

This page assumes that there are sufficient reasons why somebody will

1. decide they want to use our platform
2. willingly verify themselves in order to do so
3. are comfortable with us handling their data, and trust that we will keep it safe

these are not trivial things, but what is written about below will need to be solved if this platform is to work. So will the above questions!

let’s say somebody wants to verify themselves on our platform. How do we do that?

## what are the odds somebody else fits these characteristics?

I am a male. there are many others like me. I was born in boston. there are many others like me. I graduated from lake forest high school. There are several others like me. I graduated from denison university. there are probably a few more like me. I am the oldest of 4 siblings. there may be more like me. I made 40k last year. There still might be more like me. I worked at a resturaunt in Vail, Colorado, in the past. I am confident there are none others like me.

Using this kind of logic, we can in a sense “reserve” a user account for every single person in the world. There is a number of characteristics that when taken in full, nobody else can reasonably have. That is one unique identity. Once we can get a single grain of truth (drivers license, education records, tax records, career verification) we can build from that an identity that only one person can have, and we can trust that user to add as many perspectives as they wish.

